@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


#hero{
    background-image: url(./img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: scroll;
}
#hero .contenu-hero{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hero h1{
    color: #fff;
    display: flex;
    text-align: center;
    flex-direction: column;
}
#hero h1 .sous-titre{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    line-height: 36px;
}
#hero h1 .titre{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    line-height: 72px;
    margin: 30px 0;
}

#hero button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #fcfaf6;
    text-transform: uppercase;
    padding: 25px 50px;
    background-color: #FFC800;
}